---
layout: default
title: BlogRoll
permalink: /blogroll/
---

<article class="mp-con mp-w-l">
  <header>
    <h1>Blogroll Cafe</h1>
    <p>My frequented blogs and sites when exploring the web.</p>
    <div class="mp-l-flex">
      <label class="toggle-switch">
          <input type="checkbox" />
          <span class="slider"></span>
      </label>
      <span>BlogTavern</span>
      <a href="#s-web-master">webmasters</a>
      <a href="#s-insight">insight</a>
      <a href="#s-ph">ph</a>
      <a href="#s-engineer">engineer</a>
      <a href="#s-focus">infocus</a>
    </div>
  </header>

  <section id="s-web-master">
    <h2>Web Masters</h2>
    <div class="mp-l-pancake b-roll-wrapper">
        {% for webmaster in site.data.webmasters %}
        <a target="_blank" href="{{ webmaster.site }}" class="mp-l-pancake-item blog-card">
            <h4>{{ webmaster.name }}</h4>
            <p>{{ webmaster.site }}</p>
        </a>
        {% endfor %}
    </div>
  </section>

  <section id="s-insight">
    <h2>Insight/Introspection</h2>
    <div class="mp-l-pancake b-roll-wrapper">
        {% for introspect in site.data.introspects %}
        <a target="_blank" href="{{ introspect.site }}" class="mp-l-pancake-item blog-card">
            <h4>{{ introspect.name }}</h4>
            <p>{{ introspect.site }}</p>
        </a>
        {% endfor %}
    </div>
  </section>

  <section id="s-ph">
    <h2>PH</h2>
    <div class="mp-l-pancake b-roll-wrapper">
        {% for pinoy in site.data.phblog %}
        <a target="_blank" href="{{ pinoy.site }}" class="mp-l-pancake-item blog-card">
            <h4>{{ pinoy.name }}</h4>
            <p>{{ pinoy.site }}</p>
        </a>
        {% endfor %}
    </div>
  </section>

  <section id="s-engineer">
    <h2>Engineer Masters</h2>
    <div class="mp-l-pancake b-roll-wrapper">
        {% for engineer in site.data.engineers %}
        <a target="_blank" href="{{ engineer.site }}" class="mp-l-pancake-item blog-card">
            <h4>{{ engineer.name }}</h4>
            <p>{{ engineer.site }}</p>
        </a>
        {% endfor %}
    </div>
  </section>

  <section id="s-focus">
    <h2>In Focus</h2>
    <div class="mp-l-pancake b-roll-wrapper">
        {% for infocus in site.data.infocii %}
        <a target="_blank" href="{{ infocus.site }}" class="mp-l-pancake-item blog-card">
            <h4>{{ infocus.name }}</h4>
            <p>{{ infocus.site }}</p>
        </a>
        {% endfor %}
    </div>
  </section>

</article>