---
layout: default
title: Blog
permalink: /blog/

---

<article class="mp-con mp-w-l p-blog">
  <h1>Blog</h1>
  <br> 
    <div class="card-list">
      {% for post in site.posts %}
        {% if post.category != "notes" and post.category != "demos" %}
        <a href="{{ post.url }}" class="card-item blog-card"> 
          <h3 class="blog-card-title">{{ post.title }}</h3>
          {{ post.excerpt }}
          <div class="blog-card-date">{{ post.date | date: "%b %-d, %Y" }}</div>
        </a>
        {% endif %}
      {% endfor %}
    </div>

</article>
