---
layout: default
title: Notes
permalink: /notes/

---

<article class="mp-con mp-w-l p-note">
  <header class="mp-w-s">
    <h1>Notes</h1>
    <p>Repository of notes I jot down, mostly. Sometimes about programming, others just random.</p>
  </header>
  <br> 
    <section class="mp-w-s">
      {% for post in site.posts %}
        {% if post.category == "notes" %}
        <div class="note-block">
          <time class="">{{ post.date | date: "%b %-d, %Y" }}</time>
          <h3 class=""><a href="{{ post.url }}">{{ post.title }}</a></h3>
          {{ post.content | markdownify }}
        </div>
        {% endif %}
      {% endfor %}
    </section>

</article>
