---
---
/* Base
--------------------------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif, Consolas, "Courier New", "Droid Sans Mono", monospace;
    font-size: 1rem;
    background-color: #0B161D;
    color: #F8F8F8;
}

/* Layout
--------------------------------------------------------------------------------*/

.vs-con {
}

.vs-l-grid {
    display: grid;
    gap: 10px;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.vs-c-wrapper {
    margin: 0 auto;
    width: 55vw; 
    min-width: 400px;
    max-width: 960px;
}

.vs-c-section,
.vs-c-section-2 {
    position: relative;
    margin-bottom: 2em;
    min-height: 75vh;
    border: 1px solid white;
}
/*
Butons
*/
.vs-toggle-cube {
    position: absolute;
    bottom: 1em;
    right: 1em;
    width: 10em;
    height: 3em;
    border-radius: 10px;
}

/* 3D CSS
--------------------------------------------------------------------------------*/
body {
  --red: #ff5e5b;
  --white: #f8f8f8;
  --orange: #ff945b;
}

.scene, .scene div, .scene div::before, .scene div::after {
    position: absolute;
    content: '';
    transform-style: preserve-3d;
}

.scene {
    top: 60%; left: 50%;
    transform: rotatex(65deg) rotatez(45deg);
}

.cube {
    top: 50%; left: 50%;
    width: 200px; height: 200px;
    background-color: var(--white);
    translate: -50% -50%;
}

.cube::before { 
    width: 200px; height: 200px; 
    background-color: var(--red);
    transform-origin: 0px 0px 0px;
    rotate: x -270deg;
}

.cube::after { 
    width: 200px; height: 200px; 
    background-color: blue;
    transform-origin: 0px 200px 0px;
    rotate: x 270deg;
}

.cube > div {
    width: 200px; height: 200px;
    background-color: green;
    translate: 0 0 200px;
}

.cube > div::before {
    width: 200px; height: 200px;
    background-color: orange;
    transform-origin: 0px 0px 0px;
    rotate: y -270deg;
}

.cube > div::after {
    width: 200px; height: 200px;
    background-color: yellow;
    transform-origin: 200px 0;
    rotate: y 270deg;
}

/* section VS01: base cube animated 
----------------------------------------*/
.vs-c-section {
    --vs-time: 4s;
}

.vs-c-section .scene {
    transform: rotatex(0deg) rotatez(0deg);
    transition: var(--vs-time);
}

.vs-c-section .cube::before,
.vs-c-section .cube::after {
    rotate: x 0deg;
    transition: var(--vs-time) ease-out;
}

.vs-c-section .cube > div {
    translate: 0 0 1px;
    rotate: z 180deg;
    transition: var(--vs-time);
}

.vs-c-section .cube > div::before {
    transition: 1.6s;
}

.vs-c-section .cube > div::after {
    transition: var(--vs-time);
}

.vs-c-section .cube > div::before,
.vs-c-section .cube > div::after {
    rotate: y 0deg;
}

/*on hover*/
.vs-c-section.to-cube .cube::before {
    rotate: x -270deg;
}

.vs-c-section.to-cube .cube::after {
    rotate: x 270deg;
}

.vs-c-section.to-cube .cube > div {
    rotate: z 0deg;
    translate: 0 0 200px;
}

.vs-c-section.to-cube .cube > div::before {
    rotate: y -270deg;
    transition: var(--vs-time);
    transition-delay: 0.8s;
}

.vs-c-section.to-cube .cube > div::after {
    rotate: y 270deg;
}

.vs-c-section.to-cube .scene {
    transform: rotatex(65deg) rotatez(45deg);
}

/* section VS02: cube 3d rotate 
   - show sides as viewed as a 3d object
 *----------------------------------------*/

 .vs-c-section-2 .scene{
    transition: 5s ease-in-out;
 }

 .vs-c-section-2:hover .scene{
    transform: rotatex(115deg) rotatez(405deg);
 }


