---
---
/* Base
-----------------------------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Trebuchet MS", sans-serif, "Arial";
  font-size: 1rem;
  letter-spacing: 0.003em;
  line-height: 1.5;
  background-color: #0B161D;
  color: #F8F8F8;
}

body {
  --mp-c-bg: #0B161D;
  --mp-c-fg: #F8F8F8;
  --mp-c-lua-00: #C5DFE980;
  --mp-c-lua-01: #ffaa00;
  --mp-c-lua-02: #60f0f0;
  --mp-c-lua-03: #ffb454;
  --mp-c-lua-04: #6cde97;
  --mp-c-lua-05: #FB9A4B; /*variable*/
  --mp-c-lua-06: #9DF39F;
  --mp-c-lua-07: #EFE900;
  --mp-c-lua-08: #1E9AE0; /*comment*/
  --mp-c-lua-09: #FF3A83;
  --mp-c-lua-10: #edf080;
  --mp-c-lua-11: #55E439; /*string*/
  --mp-c-lua-12: #EDEF7D;
  --mp-c-lua-13: #EB939A;
  --mp-c-lua-14: #8996A8;
  --mp-c-lua-15: #AFC4DB;
  --mp-c-lua-16: #73817D;
  --mp-c-lua-17: #9EFFFF;
  --mp-c-lua-18: #5FE461;
  --mp-c-lua-19: #F6F080;
  --mp-c-lua-20: #F6AA11;
  --mp-f-01: 1.1em;

  --mp-f-xl: 2em;
}

.mp-f-xl {
  font-size: var(--mp-f-xl);
}

main {
  min-height: 78vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

figure {
  margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

ul {
  margin-left: 1em;
}

.mp-c-lua-02 {
  color: var(--mp-c-lua-02);
}

.mp-c-lua-03 {
  color: var(--mp-c-lua-03);
}

.mp-c-lua-04 {
  color: var(--mp-c-lua-04);
}

.mp-c-lua-05 {
  color: var(--mp-c-lua-05);
}

.mp-c-lua-06 {
  color: var(--mp-c-lua-06);
}

.mp-c-lua-10 {
  color: var(--mp-c-lua-10);
}

.mp-c-lua-12 {
  color: var(--mp-c-lua-12);
}

.mp-c-lua-17 {
  color: var(--mp-c-lua-17);
}

/* Layout
-----------------------------------------*/
.mp-con {
  margin: 0 auto;
}

.mp-w-xs {
  max-width: 20em;
}

.mp-w-s {
  max-width: 35em;
}

.mp-w-m {
  max-width: 40em;
}

.mp-w-l {
  max-width: 60em;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 95%;
  margin: 0 auto;
}

.card-item {
    min-height: 50px;
}

.mp-l-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mp-l-grid-3 {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr;
}

.mp-l-grid-2.left-auto {
  grid-template-columns: auto 1fr;
}

.mp-l-grid-2.right-auto {
  grid-template-columns: 1fr auto;
}
.mp-l-hero {
  min-height: 50vh;
  align-items: center;
}

.mp-l-wrapper {
  position: relative;
}

.mp-l-pancake {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mp-l-pancake-item {
  flex: 1 1 300px; /*  Stretching: */
  margin: 5px;
}

.mp-u-m-3 { margin-bottom: 3rem }
.mp-u-m-4 { margin-bottom: 4rem }
.mp-u-m-5 { margin-bottom: 5rem }

@media (min-width: 540px) {
  .card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: none;
    margin: 0;
  }
}

/* Module
-----------------------------------------*/

.card-item {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;;
  transition: 0.3s;
}

.card-item-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
}

.card-item:hover {
  transform: translateY(-5px);
}

.mp-u-principles {
  color: var(--mp-c-bg);
}

/* State
-----------------------------------------*/

/* Header
-----------------------------------------*/
header.masthead {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.site-logo {
    font-size: 2em;;
}

.masthead nav {
    align-content: center;
}

.masthead ul.nav-btns {
    display: flex;
    align-content: center;
    list-style: none;
    gap: 20px;
    margin: 0;
}

.masthead ul.nav-btns a{
  padding: 5px 10px;
  border-radius: 5px;
  // color: #55E439;

  transition: 0.3s;
}

.masthead ul.nav-btns a:hover{
  filter: invert(0.3);
  background-color: #000000;
}

/* logo start
-----------------------------------------*/

.md-lg-b {
  font-size: 10px;
  --x: 3em; 
  --color-m: #d5e2ef;
  --color-p: #9cbbd9;
  --color-d: #6394c4;
}

.md-lg-b {
  width: var(--x); height: var(--x);
  transform-style: preserve-3d;
}
.md-lg-b div {
  position: absolute;
  content: '';
  transform-style: preserve-3d;
}

.md-lg-b {
  transform: rotatex(60deg) rotatez(45deg);
  transform-origin: calc(var(--x) / 2) calc(var(--x) / 2) calc(var(--x) / 2) ;
}

.md-lg-b, .md-lg-b * {
  transition: 0.3s ease-in-out;
}

.md-lg-s {
  width: var(--x); height: var(--x);
}

.md-lg-s__m {
  background-color: var(--color-m);
  translate: 0 0 var(--x);
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 50% 50%, 0 0);
}

.md-lg-s__p {
  background-color: var(--color-p);
  transform: rotateX(-90deg);
  transform-origin: bottom center;
  clip-path: polygon(0 0, 0 50%, 100% 50%, 100% 0);
}

.md-lg-s__d {
  background-color: var(--color-d);
  transform: rotateZ(-90deg) rotateX(-90deg);
  transform-origin: bottom left;
  translate: var(--x) 0 0;
}

.md-lg-s__d.d-1 {
  clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 50%, 0 0);
}

.md-lg-s__d.d-2 {
  transform: rotateZ(-90deg) rotateX(-90deg);
  transform-origin: bottom left;
  translate: 0 0 0;
}


.md-lg-b-link:active .md-lg-s__m, 
.md-lg-b-link:active .md-lg-s__p, 
.md-lg-b-link:active .md-lg-s__d {
  transition: 0.2s;
  background-color: var(--mp-c-lua-03);
}

 

.masthead:hover .md-lg-s__m{
  translate: 0 0 calc(var(--x) + 0.2em);
}

.masthead:hover .md-lg-s__p{
  translate: 0 0.2em 0;
}

.masthead:hover .md-lg-s__d.d-1{
  translate: calc(var(--x) + 0.2em) 0 0;
}

.masthead:hover .md-lg-s__d.d-2{
    translate: 0 0.2em 0;
}
/* logo end
-----------------------------------------*/

/* Footer
-----------------------------------------*/
footer {
  padding: 50px 0 20px;
}

.footer-wrapper {
  display: flex;
  align-items: center;;
  gap: 5px;
}

.footer-nav{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.footer-msg {
  
  font-size: 0.8em;
}

.footer-circ {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.footer-circ-01 { background-color: var(--mp-c-lua-01); }
.footer-circ-02 { background-color: var(--mp-c-lua-02); }
.footer-circ-03 { background-color: var(--mp-c-lua-03); }
.footer-circ-04 { background-color: var(--mp-c-lua-04); }
.footer-circ-05 { background-color: var(--mp-c-lua-05); }
.footer-circ-06 { background-color: var(--mp-c-lua-06); }
.footer-circ-07 { background-color: var(--mp-c-lua-07); }
.footer-circ-08 { background-color: var(--mp-c-lua-08); }
.footer-circ-09 { background-color: var(--mp-c-lua-09); }
.footer-circ-10 { background-color: var(--mp-c-lua-10); }

.footer-circ-11 { background-color: var(--mp-c-lua-11); }
.footer-circ-12 { background-color: var(--mp-c-lua-12); }
.footer-circ-13 { background-color: var(--mp-c-lua-13); }
.footer-circ-14 { background-color: var(--mp-c-lua-14); }
.footer-circ-15 { background-color: var(--mp-c-lua-15); }
.footer-circ-16 { background-color: var(--mp-c-lua-16); }
.footer-circ-17 { background-color: var(--mp-c-lua-17); }
.footer-circ-18 { background-color: var(--mp-c-lua-18); }
.footer-circ-19 { background-color: var(--mp-c-lua-19); }
.footer-circ-20 { background-color: var(--mp-c-lua-20); }

/* Pages
-----------------------------------------*/

/*-- Portfolio*/

.p-portfolio {
  position: relative;
}

.test {
  transition: 0.8s ease-in-out;
  background-color: var(--mp-c-bg);
  opacity: 1;
  visibility: visible;
}

.p-portfolio .card-list{
  grid-template-columns: 1fr 1fr 1fr;
}

.p-portfolio .test.move {
  transform: translateX(-700px);
  opacity: 0;
  visibility: hidden;
}

.p-portfolio .card-item {
  border: 1px solid #F8F8F8;
  border-radius: 8px;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.p-portfolio .card-item:hover {
  transform: translateY(-10px);
}

.p-h-panel {
  position: absolute;
  width: 100%;
  height: 500px;
  padding: 20px;
  color: var(--mp-c-bg);
  border: 1px solid var(--mp-c-bg);
  border-radius: 8px;
  top: 0;
  z-index: -1;
  transform: scale(0.98);
  transition: 0.8s ease-in-out;
  transition-delay: 0s;
}

.p-portfolio .p-h-panel.reveal{
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  transform: scale(1);
  transition-delay: 1.1s;
  z-index: 1;
}

#h-panel-exit{
  float: right;
  cursor: pointer;
}

#h-panel-exit:hover{
  text-decoration: underline;
}

/*-- Readings*/

.p-rdg-content {
  padding: 0 15px;
}

.p-rdg-content a {
  color: var(--mp-c-lua-06);
  text-decoration: underline;
  font-size: 0.9em;
}

/*-- Blog*/

.p-blog .card-list {
  gap: 30px 15px;
}

.blog-card{
  border: 1px solid var(--mp-c-fg);
  border-radius: 8px;
  padding: 0 10px 0;
  position: relative;
  transition: 0.3s;
}

.blog-card:hover{
  color: var(--mp-c-lua-03);
  border: 1px solid var(--mp-c-lua-03);
  transform: rotateZ(-1deg) scale(1.05);
}

.blog-card-title {
  position: absolute;
  top: -1.8em;
  background-color: var(--mp-c-bg);
}

.blog-card-date {
  position: absolute;
  bottom: -0.6em;
  background-color: var(--mp-c-fg);
  color: var(--mp-c-bg);
  display: inline-block;
  padding: 0 10px;
  font-weight: 600;
  line-height: 1.3;
  font-size: 0.8em;
  border-radius: 6px;
  right: 1em;
  transition: 0.3s;
}


.blog-card:hover .blog-card-date{
  background-color: var(--mp-c-lua-03);
}

.post-title{
  color: var(--mp-c-lua-03); 
}

.post-date {
  display: inline-block;
  background-color: var(--mp-c-lua-03);
  color: var(--mp-c-bg);
  padding: 0 6px;
  font-size: 0.8em;
  font-style: italic;
  border-radius: 8px;
  line-height: 1.3;
}

.b-link {
  color: var(--mp-c-lua-06);
  text-decoration: underline;
}


/*-- Principles*/

.p-pcp-link {
  font-size: 0.4em;
  border: 1px solid;
  border-radius: 0.7em;
  padding: 0em 0.5em;
  display: inline;
  line-height: 1;
  letter-spacing: 0.2em;
}

.p-pcp-link:hover,
.p-pcp-link:active {
  filter: saturate(0.5);
}

/*---------------------------------------------------------*/
#gt-cont {
    padding-left: 20px;
}
.gt-anm{
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 3.5em;
    line-height: 1;
    letter-spacing: 0.1em;
    color: var(--mp-c-bg);
    transform: rotate(45deg);
    transform-origin: top left;
    transition: 0.5s ease-in-out;
    transition-delay: 1.2s;
}

.gt-anm.is-move {
    letter-spacing: 0.0003em;
    transform: rotate(0deg);
    color: unset;
}

.gt-pig {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    opacity: 0.0;
    transition: 1s;
}

.gt-pig.row-1{
    transition-delay: 1s;
}
.gt-pig.row-2{
  transition-delay: 0.5s;
}
.gt-pig.row-3{
  transition-delay: 0.1s;
}


.gt-pig.hellow {
  opacity: 1;
  transform: translateY(10px);
}

/*---------------------------------------------------------*/

/*-POSTS----------------------------------------------------*/
.pnr-train-container {
  margin-top: 100px;
  overflow: hidden;
}
.pnr-del {
  margin-left: 0;
  transition: 5s ease-in-out;
  transform: rotateY(180deg);
}
.pnr-move {
  margin-left: 120%;
}

.pnr-ctrl-btn {
  display:inline-block;
  position:relative;
  width: auto;
  padding:16px 18px 14px;
  margin: 10px 15px 10px 0;
  border-radius:5px;
  border:solid 1px #f39c12;
  box-shadow: 0px 6px 0px #d35400;
  background:#e67e22;
  color:#ecf0f1;
  text-decoration:none;
  text-align:center;
  font-weight: 600;
  font-size: 1.2em;
	transition: all 0.1s;
}

.pnr-ctrl-btn:active{
    box-shadow: 0px 2px 0px #d35400;
    position:relative;
    top:4px;
}


two-up {
  width: 80%;
  margin: 0 auto;
}

.two-up-cmp-img {
  width: 100%;
  height: auto;
}

// iso/3d cube exp. attempt 2
.d-pground{
  position: relative;
  width: 100%;
  height: 400px;
}

.scene, .scene div, .scene div::before, .scene div::after {
  position: absolute;
  content: '';
  transform-style: preserve-3d;
} 

.scene {
  top: 50%; left: 50%;
  background-color: #000;
  transition: 0.8s ease-in-out;
  transform: rotatex(65deg) rotatez(45deg);
  transform-origin: center center 100px;
}

.scene.view-top {
  transform: rotateX(0deg) rotatez(0deg);
}
.scene.view-front {
  transition: 1.8s cubic-bezier(0.89, 0.37, 0.53, 0.89);
  transform: rotateX(90deg) rotatez(0deg) scale3d(1.5, 1.5, 1.5);
}

.cube {
  --x: 200px;
  --y: 200px;
  --z: 200px;
  --color: #ff0000;
  --color-bg: #ffffff;
  top: 50%; left: 50%;
  width: var(--x);
  height: var(--y);
  background-color: color-mix(in display-p3, var(--color) 50%, var(--color-bg));
  translate: -50% -50%;
}

.cube::before {
  width: var(--x); height: var(--z);
  background-color: color-mix(in display-p3, var(--color) 70%, var(--color-bg));
  transform-origin: top center;
  rotate: x 90deg;
}

.cube::after {
  width: var(--x); height: var(--z);
  background-color: color-mix(in display-p3, var(--color) 90%, var(--color-bg));
  transform-origin: top center;
  rotate: x 90deg;
  translate: 0 var(--y);
}

.cube > div {
  width: var(--x);
  height: var(--y);
  background-color: var(--color);
  translate: 0 0 var(--z);
}

.cube > div::before {
  width: var(--z); height: var(--y);
  background-color: color-mix(in display-p3, var(--color) 80%, var(--color-bg));
  rotate: y 90deg;
  transform-origin: left center;
}

.cube > div::after {
  width: var(--z); height: var(--y);
  background-color: color-mix(in display-p3, var(--color) 80%, var(--color-bg));
  rotate: y 90deg;
  transform-origin: left center;
  translate: var(--x);
}

.cube > div,
.cube > div::before,
.cube > div::after,
.cube,
.cube::before,
.cube::after {
  transition: 0.3s;
}

.cube.hide > div,
.cube.hide > div::before,
.cube.hide > div::after,
.cube.hide,
.cube.hide::before,
.cube.hide::after {
  transition: 0.3s;
  border: 1px solid red;
}

.cube.hide{
  --color: transparent;
  --color-bg: transparent;
}

.cube.blue > div,
.cube.blue > div::before,
.cube.blue > div::after,
.cube.blue,
.cube.blue::before,
.cube.blue::after {
  --x: 60px;
  --y: 110px;
  --z: 55px;
  border:none;
  --color: #0000ff;
  --color-bg: #ffffff;
  // translate: -150% -17%;
  // translate: 0 0;
}

.cube.green > div,
.cube.green > div::before,
.cube.green > div::after,
.cube.green,
.cube.green::before,
.cube.green::after {
  --x: 16px;
  --y: 50px;
  --z: 30px;
  border:none;
  --color: green;
  --color-bg: #ffffff;
  // translate: -150% -17%;
  // translate: 0 0;
}

.cube.blue {
  translate: -150% -17%;
}

.cube.green {
  translate: -100% 63%;
}

// becker effects

.d-pground-2{
  position: relative;
  width: 100%;
  height: 200px;
}

.tsc {
  --tsc-c: #ff6f00;
  position: absolute;
  content: '';
  transform-style: preserve-3d;
} 

.tsc {
  top: 20%; left: 50%;
  // transform-origin: center center 100px;
  translate: -50% -50%;
}

.tsc {
  width: 6px; 
  height: 6px;
  background-color: red;
  border-radius: 6px;
}

.tsc-head {
  position: absolute;
  height: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 51% 62% 58% 58% / 65% 61% 45% 48%;
  border: 6px solid var(--tsc-c);
  bottom: 0;
  right: -17px;
  transform-origin: 20px 100%;
  transform: rotateZ(0deg);
  /* transform: rotateZ(-20deg); */
  transition: 0.3s ease-in-out;
}

.tsc-arm {
  position: absolute;
  width: 6px; height: 55px;
  border-radius: 10px;
  transform-origin: 3px 3px;
  background-color: var(--tsc-c);
}

.tsc-arm.left {
  background-color: var(--tsc-c);
  transform: rotateZ(25deg);
}

.tsc-arm.right {
  background-color: var(--tsc-c);
  transform: rotateZ(-25deg);
}

.tsc-body {
  position: absolute;
  width: 6px; height: 50px;
  border-radius: 10px;
  background-color: var(--tsc-c);
}

.tsc-leg {
  position: absolute;
  width: 6px; height: 55px;
  border-radius: 10px;
  transform-origin: 3px 3px;
  background-color: var(--tsc-c);
  translate: 0 46px 0;
  transform: rotateZ(20deg);
}

.tsc-leg.left {
  transform: rotateZ(20deg);
}

.tsc-leg.right { 
  transform: rotateZ(-20deg);
}

//  kyubi the pom


.cube.kby-body {
  --x: 100px;
  --y: 100px;
  --z: 100px;
  border:none;
  --color: rgb(184, 129, 28);
}

.cube.kby-body {
  --x: 100px;
  --y: 100px;
  --z: 100px;
  border:none;
  --color: rgb(184, 129, 28);
}

.kby-ear {
  --x: 30px;
  --y: 30px;
  --z: 30px;
  border:none;
  --color: rgb(147, 107, 34);
}

.kby-ear__left {
  translate: -49px 20px 100px
}

.kby-ear__right {
  translate: 20px 20px 100px
}

.kby-eye {
  --x: 10px;
  --y: 10px;
  --z: 10px;
  border:none;
  --color: rgb(46, 34, 12);
}


.kby-eye__left {
  translate: -30px 44px 80px;
}

.kby-eye__right {
  translate: 20px 44px 80px;
}

.cube.kby-snout {
  --x: 60px;
  --y: 10px;
  --z: 30px;
  border:none;
  --color: rgb(208, 155, 57);
  translate: -30px 47px 50px;
}

.cube.kby-nose {
  --x: 15px;
  --y: 5px;
  --z: 10px;
  border:none;
  --color: rgb(33, 26, 11);
  translate: -10px 57px 68px;
}

.kby-chest {
  --x: 80px;
  --y: 5px;
  --z: 60px;
  border:none;
  --color: rgb(227, 187, 111);
  translate: -40px 47px 00px;
}


/* front page sample graphic
------------------------------------------------------------*/

.fps {
  font-size: clamp(30px, 8vw, 80px);
  --x: 3em;
  --color: transparent; // border color
  --origin: calc(var(--x) / 2);
  --fps-time: 1.5s;
}

.fps {
  width: var(--x); height: var(--x);
  position: absolute;
  top: 50%;
  left: calc(50% - 0rem);
  border: 1px solid var(--color);
  cursor: pointer;
}

.fps {
  transform-style: preserve-3d;
  transform: rotatex(60deg) rotatez(45deg);
  transform-origin: var(--origin) var(--origin) var(--origin);
  translate: -50% -50%;
  transition: var(--fps-time);
}

.fps div {
  position: absolute;
  content: '';
  transform-style: preserve-3d;
}

.fps-s {
    width: var(--x); height: var(--x);
    transition: 0.3s;
}

.fps-s__f {
  top: -1px;
  left: -1px;
  border: 1px solid var(--color);
  transform: rotateX(-90deg);
  transform-origin: bottom center;
}

.fps-s__t {
  top: -1px;
  left: -1px;
  border: 1px solid var(--color);
  translate: 0 0 calc(var(--x) + 0px);
}

.fps-s__r {
  top: -1px;
  left: -1px;
  border: 1px solid var(--color);
  transform: rotateZ(-90deg) rotateX(-90deg);
  transform-origin: bottom left;
  translate: calc(var(--x) + 0px) 0 0;
}

.fps-s__l {
  top: -1px;
  left: -1px;
  border: 1px solid var(--color);
  transform: rotateZ(-90deg) rotateX(-90deg);
  transform-origin: bottom left;
  translate: 0 0 0;
}

.fps-s__b {
  top: -1px;
  left: -1px;
  border: 1px solid var(--color);
  transform: rotateX(90deg);
  transform-origin: top right;
}

.fps-s__t { background-color: rgba($color: #ffff00, $alpha: 0.2); }
.fps-s__f { background-color: rgba($color: #0000ff, $alpha: 0.2); }
.fps-s__l { background-color: rgba($color: #ff0000, $alpha: 0.2); }
.fps-s__r { background-color: rgba($color: #00ff00, $alpha: 0.2); }
.fps-s__b { background-color: rgba($color: #ff00ff, $alpha: 0.2); }
.fps-s__bb { background-color: rgba($color: #ffffff, $alpha: 0.2); }

.fps-s__circ {
  width: calc(var(--x) - 2px); height: calc(var(--x) - 2px);
  border: 1px solid transparent;
  border-radius: 50%;

  translate: 0 0 var(--origin);
  transform: rotateZ(45deg) rotateY(60deg);
  background: radial-gradient(circle at 65% 15%, white 1px, #60f0f0 3%, #1E9AE0 60%, #60f0f0 100%);
  
  transition: var(--fps-time);
}

.fps-wrapper.ready-fps .fps {
  // font-size: 60px;
  --color: white;
  transform: rotatex(60deg) rotatez(135deg) scale3d(1.2, 1.2, 1.2);
}

.fps-wrapper.ready-fps .fps .fps-s__circ {
  transform: rotateZ(-45deg) rotateY(60deg);
}

.fps-wrapper.ready-fps .fps .fps-s__r{
  transition: 0.3s;
  transition-delay: var(--fps-time);
  translate: calc(var(--x) + 0.1em) 0 0;
}

.fps-wrapper.ready-fps .fps .fps-s__b{
  transition: 0.3s;
  transition-delay: var(--fps-time);
  translate: 0 -0.1em 0;
}

.fps-wrapper.ready-fps .fps .fps-s__t{
  transition: 0.3s;
  transition-delay: var(--fps-time);
  translate: 0 0 calc(var(--x) + 0.1em);
}

.fps:active {
  transform: rotatex(60deg) rotatez(135deg) scale3d(1.17, 1.17, 1.17);
}

.fps-wrapper.ready-fps .fps:active .fps-s__r{
  transition-delay: 0s;
  translate: calc(var(--x) + 0px) 0 0;
}

.fps-wrapper.ready-fps .fps:active .fps-s__b{
  transition-delay: 0s;
  translate: 0 0px 0;
}

.fps-wrapper.ready-fps .fps:active .fps-s__t{
  transition-delay: 0s;
  translate: 0 0 calc(var(--x) + 0px);
}