<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASE - {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/case-visuals.css">
</head>
<body>
    <header class="vs-l-header">
        <div class="vs-l-header__wrapper">
            <a href="/" class="vs-u-link">◁ MPD Homepage</a>
        </div>
    </header>
    <main class="vs-main">
        {{ content }}
    </main>
    <footer class="vs-l-footer vs-c-wrapper">
        <span>HTML&CSS Visuals</span>
    </footer>
    <script src=""></script>
    <script src="/assets/js/case-visuals.js"></script>
</body>
</html>