<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASE - {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/case-bisikleta.css">
</head>
<body>
    <header class="masthead">
        <nav>
            <div class="nav-btns">
                <li><a class="nav-btn" href="#rda-sec">After a Road Accident</a></li>
                <li><a class="nav-btn" href="#gtp-sec">General Tips</a></li>
                <li><a class="nav-btn" href="#dct-sec">Documentation Tips</a></li>
                <li><a class="nav-btn" href="#ctv-sec">Requesting CCTV Footage</a></li>
                <li><a class="nav-btn" href="#olv-sec">Offenses & Laws Violated</a></li>
                <li><a class="nav-btn" href="#bpr-sec">Request a Blotter & Police Report</a></li>
            </div>
        </nav>
    </header>
    <main class="bsk-main">
        {{ content }}
    </main>
    <footer class="main-footer">
    </footer>
    <script src=""></script>
</body>
</html>