<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASE - {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/case-bisikleta.css">
</head>
<body>
    <header class="masthead">
        <button id="lang-btn" class="set-en selected-en set-tl"></button>
        <nav>
            <div class="nav-btns">
                <li>
                    <a class="nav-btn" data-sect="rda" href="#rda-sec">
                        <span class="en show">After a Road Accident</span>
                        <span class="tl">Matapos ang Insidente</span>
                    </a>
                </li>
                <li>
                    <a class="nav-btn" data-sect="gtp" href="#gtp-sec">
                        <span class="en show">General Tips</span>
                        <span class="tl"><em>General Tips</em></span>
                    </a>
                </li>
                <li>
                    <a class="nav-btn" data-sect="dct" href="#dct-sec">
                        <span class="en show">Documentation Tips</span>
                        <span class="tl">Tips sa Pagdokumento</span>
                    </a>
                </li>
                <li>
                    <a class="nav-btn" data-sect="ctv" href="#ctv-sec">
                        <span class="en show">Requesting CCTV Footage</span>
                        <span class="tl">Paghingi ng CCTV Footage</span>
                    </a>
                </li>
                <li>
                    <a class="nav-btn" data-sect="olv" href="#olv-sec">
                        <span class="en show">Offenses & Laws Violated</span>
                        <span class="tl">Pagkakasala at Nilabag sa Batas</span>
                    </a>
                </li>
                <li>
                    <a class="nav-btn" data-sect="bpr" href="#bpr-sec">
                        <span class="en show">Request a Blotter & Police Report</span>
                        <span class="tl">Paghingi ng Blotter o <em>Police Report</em></span>
                    </a>
                </li>
            </div>
        </nav>
    </header>
    <main class="bsk-main">
        {{ content }}
    </main>
    <footer class="main-footer">
    </footer>
    <script src=""></script>
    <script src="/assets/js/case-bisikleta.js"></script>
</body>
</html>